.App {
  text-align: center;
}

.board {
  height: 606px;
  width: 606px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  min-width: 606px;
  padding-top: 40px;
}

.cell {
  height: 200px;
  width: 200px;
  border: 1px solid #999;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.banner {
  margin: 20px 0 0;
}

.banner-container {
  height: 40px;
  display: flex;
  justify-content: center;
}

.winner {
  background-color: #9ad089;
  animation: flash ease-in-out 1.5s infinite;
}

@keyframes flash {
  0%, 100% {
    background-color: #9ad089;
    opacity: 1;
  }
  50% {
    background-color: #9ad089;
    opacity: .5;
  }
}

