.App {
  text-align: center;
}

.board {
  height: 620px;
  width: 620px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  min-width: 606px;
  padding-top: 40px;
}

.cell {
  width: 200px;
  height: 205px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.board .cell:nth-child(1),
.board .cell:nth-child(2),
.board .cell:nth-child(3),
.board .cell:nth-child(4),
.board .cell:nth-child(5),
.board .cell:nth-child(6){
  border-bottom: 5px solid #444;
}

.board .cell:nth-child(2),
.board .cell:nth-child(5),
.board .cell:nth-child(8){
  border-left: 5px solid #444;
  border-right: 5px solid #444;
}

.banner {
  margin: 20px 0 0;
}

.banner-container {
  height: 40px;
  display: flex;
  justify-content: center;
}

.winner {
  background-color: #9ad089;
  animation: flash ease-in-out 1.5s infinite;
}

.game-container {
  display: flex;
  padding: 0 40px;
  text-align: left;
}

@keyframes flash {
  0%, 100% {
    background-color: #9ad089;
  }
  50% {
    background-color: #9ad08963;
  }
}

